.button{
	border-radius: 10%;
	font-size: 1.35rem;
}

.buttons-container__button{
	background-color: $spoon-gold;
	color: $spoon-white;
	margin: 40px 20px;
	
	&:hover{
		background-color: $spoon-gold-dark;
	}
}

