.recipe-card{
	background-color: $spoon-white-light;
	border-radius: 25px;
	box-shadow: 0px 3px 40px -20px black;
	cursor: pointer;
	margin: 25px;
	max-width: 375px;
	min-width: 350px;
	padding: 0 0 15px 0;
	width: 32%;

	&__img{
		border-top-right-radius: 25px;
		border-top-left-radius: 25px;
		display: block;
		margin: 0 auto;
		min-height: 375px;
		object-fit: cover;
		width: 100%;
	}

	&__title{
		color: $spoon-black;
		font-size: 1.5rem;
		padding: 15px;
	}

	&__tag{
		background-color: $spoon-grey;
		border-radius: 8%;
		color: $spoon-black;
		display: inline-block;
		font-size: 1rem;
		margin: 0 0 0 15px;
		padding: 5px;
	}

	&__tag-container{
		display: flex;
		justify-content: space-evenly;
	}
}

@media screen and (max-width: 910px){
	.recipe-card{
		margin: 10px;
	}
}