$spoon-white: #FFFBEA;
$spoon-white-light: #FDFDFD;
$spoon-red: #781211;
$spoon-red-dark: #820705;
$spoon-gold: #DDA93A;
$spoon-gold-dark: #CA9628;
$spoon-grey: #8C8C8C;
$spoon-grey-dark: #212121;
$spoon-black: #000000;

$font-primary: 'Playfair Display', serif;
$font-secondary: 'Slabo 27px', serif;
