<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>The Daily Spoon</title>

	<link rel="stylesheet" type="text/css" href="../css/prettyHome.css">
	<link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
	<link rel="icon" href="../img/chef-min.png">


</head>
<body>
	<section id="header-js" class="header flex-container">
		<a href="../index.html">
			<div class="header__logo logo-zone flex-container">
				<img class="logo-zone__img" src="../img/chef-min.png">
				<h1 class="logo-zone__header">THE</h1>
				<h1 class="logo-zone__header logo-zone__header--bold">DAILY</h1>
				<h1 class="logo-zone__header">SPOON</h1>
			</div>
		</a>
		<nav>
			<ul class="nav-list flex-container">
				<li id="search-button-js" ><a class="nav-list__item">Search</a></li>
				<!--<li><a class="nav-list__item" href="">Browse</a></li>-->
				<!--<li><a class="nav-list__item nav-list__item--active" href="">Dashboard</a></li>-->
			</ul>
			
		</nav>
		<div class="header__hamburger hamburger">
			<!--<svg></svg>-->
			<img class="hamburger__img" src="http://via.placeholder.com/60x60">	
		</div>
	</section>
	<section class="search" id="search-js">
		<img class="search__icon" src="http://via.placeholder.com/100x100">
		<form action="search.html">
			<input class="search__input" type="text" name="Search" placeholder="Search...">
			<button class="search__submit button">
				Submit
			</button>
		</form>
	</section>
	<section class="main flex-container">
		<div>
			<h1 class="main__header">Chicken Parm over Rice</h1>
			<h2 class="main__subheader">with Kale Rice and Roasted Carrots</h2>
			<img class="main__img" src="http://via.placeholder.com/700x400">
			<h3 class="main__caption">Weʼre amping up chicken breasts with a glaze of smoky ancho chile paste and fresh
			orange juice in this recipe. On the side, roasted carrots and lightly creamy, golden
			raisin-studded rice perfectly accent the sweetness of the glaze.</h3>
		</div>
		
		<div class="main__ingredients ingredients flex-container">
			<img class="ingredients__img" src="http://via.placeholder.com/700x400">
			<ul class="ingredients__list ingredients-list">
				<li class="ingredients-list__item">4 Boneless, Skinless Chicken Breasts</li>
				<li class="ingredients-list__item">1 Tbsp Ancho Chile Paste</li>
				<li class="ingredients-list__item">2 Tbsps Crème Fraîche</li>
				<li class="ingredients-list__item">3 Tbsps Golden Raisins</li>
			</ul>
		</div>

		<div class="main__step step">
			<h2 class="step__header">1 Prepare the ingredients and make the glaze:</h2>
			<img class="step__img main__img" src="http://via.placeholder.com/700x400"">
			<h3 class="step__description">While the rice cooks, wash and dry the fresh produce. Peel the carrots;
			quarter lengthwise, then halve crosswise. Peel and roughly chop the garlic.
			Remove and discard the stems of the kale; finely chop the leaves. Using a
			peeler, remove the lime rind, avoiding the white pith; mince to get 2
			teaspoons of zest (or use a zester). Halve the lime crosswise. Halve the
			orange; squeeze the juice into a bowl, straining out any seeds. Whisk in the
			chile paste and 2 tablespoons of water until smooth.</h3>
		</div>
		

		
		
		
	</section>
	<section class="footer flex-container">
		<h1 class="footer__header">The Daily Spoon</h1>
		<ul class="footer__links">
			<li><a href="https://twitter.com/themcarbone" target="_blank">Twitter</a></li>
			<li><a href="https://instagram.com/carbonemike" target="_blank">Instagram</a></li>
		</ul>
		<img class="footer__img" src="../img/chef-min.png">
	</section>

	<script type="text/javascript" src="../js/index.js"></script>
</body>
</html>